<h2 class="section-title">Quelques références</h2>
<p>Le petit tour opérator des références publiques et récentes :</p>
<ul class="no-bullet references--list">
  <li class="references--item">
    <article class="callout references--item--article">
      <h3 class="references--item--title">Cedar architect</h3>
      <p>Refonte du site</p>
      <p>
        <span class="label">front</span>
        <span class="label">wordpress</span>
      </p>
      <footer><svg class="icon icon-screen"><use xlink:href="#icon-screen"></use></svg> <a class="references--item--link" href="http://cedar-architect.com">cedar-architect.com</a></footer>
    </article>
  </li>
  <li class="references--item">
    <article class="callout references--item--article">
      <h3 class="references--item--title">Cedar Studio</h3>
      <p>Refonte du thème wordpress</p>
      <p>
        <span class="label">design</span>
        <span class="label">front</span>
        <span class="label">wordpress</span>
      </p>
      <footer><svg class="icon icon-screen"><use xlink:href="#icon-screen"></use></svg> <a class="references--item--link" href="http://cedar-studio.fr">cedar-studio.fr</a></footer>
    </article>
  </li>
  <li class="references--item">
    <article class="callout references--item--article">
      <h3 class="references--item--title">Cedreo Interactive</h3>
      <p>Refonte du thème wordpress</p>
      <p>
        <span class="label">design</span>
        <span class="label">front</span>
        <span class="label">wordpress</span>
      </p>
      <footer><svg class="icon icon-screen"><use xlink:href="#icon-screen"></use></svg> <a class="references--item--link" href="http://cedreo-interactive.com">cedreo-interactive.com</a></footer>
    </article>
  </li>
  <li class="references--item">
    <article class="callout references--item--article">
      <h3 class="references--item--title">Les Stories BearingPoint</h3>
      <p>Intégration et développement sous wordpress</p>
      <p>
        <span class="label">front</span>
        <span class="label">wordpress</span>
      </p>
      <footer><svg class="icon icon-screen"><use xlink:href="#icon-screen"></use></svg> <a class="references--item--link" href="http://stories.bearingpoint.com">stories.bearingpoint.com</a></footer>
    </article>
  </li>
  <li class="references--item">
    <article class="callout references--item--article">
      <h3 class="references--item--title">Chaperons &amp; compagnie</h3>
      <p>Intégration et développement sous wordpress</p>
      <p>
        <span class="label">front</span>
        <span class="label">wordpress</span>
      </p>
      <footer><svg class="icon icon-screen"><use xlink:href="#icon-screen"></use></svg> <a class="references--item--link" href="http://www.chaperonsetcompagnie.fr/">www.chaperonsetcompagnie.fr</a></footer>
    </article>
  </li>
  <li class="references--item">
    <article class="callout references--item--article">
      <h3 class="references--item--title">Domexpo</h3>
      <p>version mobile du site domexpo.fr, récupère les contenu avec l'API WP-REST en json</p>
      <p>
        <span class="label">front</span>
        <span class="label">webapp</span>
        <span class="label">REST / JSON</span>
        <span class="label">angularJs</span>
      </p>
      <footer><svg class="icon icon-screen"><use xlink:href="#icon-screen"></use></svg> <a class="references--item--link" href="http://m.domexpo.fr/">m.domexpo.fr</a></footer>
    </article>
  </li>
  <li class="references--item">
    <article class="callout references--item--article">
      <h3 class="references--item--title">Collectif Danse Rennes Métropole</h3>
      <p>version mobile du site domexpo.fr, récupère les contenu avec l'API WP-REST en json</p>
      <p>
        <span class="label">design</span>
        <span class="label">front</span>
        <span class="label">wordpress</span>
      </p>
      <footer><svg class="icon icon-screen"><use xlink:href="#icon-screen"></use></svg> <a class="references--item--link" href="http://www.collectifdanse.fr/">www.collectifdanse.fr</a></footer>
    </article>
  </li>
</ul>