@import "styles/settings";

// Import npm dependencies

@import "~foundation-sites/scss/foundation";
// @import "~font-awesome/scss/font-awesome";

@import "styles/icons";
@import "styles/includes";

@keyframes move {
  0%   { transform: scale(1) }
  50% { transform: scale(0.9); }
}

@keyframes revmove {
  0%  { transform: scale(1);  }
  50% { transform: scale(1.2); fill: $white; }
}

body {
  padding: $global-padding;
  @include breakpoint(large) {
    font-size: 1.1rem;
  }
}

h2, hr {
  margin-top: $global-margin * 3;
}

h3 {
  margin-top: 1.5em;
}

.wrapper {
  @include grid-row;
}

.page {
  @include grid-column(12);

  @include breakpoint(medium) {
    @include grid-column-size(10);
  }

  @include breakpoint(large) {
    @include grid-column-size(8);
  }
}

.logo {
  max-width: 20%;
  @extend .float-right;
  margin: 1em;
  > * {
    transform-origin: center;
  }
  .bg {
    fill: $primary-color;
    animation: move 10s infinite;
  }

  .bar {
    animation: revmove 10s infinite;

  }

  .bar-1 {
    fill: $white;
  }

  .bar-2 {
    fill: $light-gray;
  }

  .bar-3 {
    fill: $medium-gray;
  }
}

.section-title {
  margin-left: -0.5em;
  &:before {
    content: '\205D';
    display: inline-block;
    width: 0.5em;
    color: $medium-gray;
  }
}

.mainheader {
  margin-bottom: $global-margin * 4;
  margin-top: $global-margin;
}

.mainquote {
  border: none;
  font-size: 1.5em;
  .icon {
    color: $light-gray;
  }
}

.bold {
  font-weight: bold;
}

.subtitle {
  &:before {
    content: '\21B3 '
  }
}

.ours {
  padding: $global-padding 0;
}

.references--list {
  @include flex-grid-row(nest, $grid-row-width, 6, true, $grid-column-gutter) { }
}

.references--item {
  @include flex-grid-column(6);
  margin-bottom: $global-margin * 2;

  @include breakpoint(medium) {
    @include flex-grid-column(4);
  }

  @include breakpoint(large) {
    @include flex-grid-column(3);
  }

  .callout {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
  }

}

.references--item--link {
  color: map-get($foundation-palette, accent);
  font-family: $font-family-monospace;

  &:hover, &:focus {
    color: darken(map-get($foundation-palette, accent), 10%);
  }
}

.references--item--title {
  font-size: 1.4rem;
  padding-bottom: $global-padding;
  border-bottom: 1px dotted $light-gray;
}

.reseaux {
  @include menu-base;
}

p a {
  //color: inherit;
  font-weight: bold;
  display: inline-block;
  padding: 0.1em 0;
  position: relative;

  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: $light-gray;
    transition: all 0.2s ease;
    position: absolute;
    left: 0;
    bottom: 0;
  }

  &:hover, &:focus {
    &:after {
      background-color: map-get($foundation-palette, accent);
      height: 2px;
    }
  }
}